/* Your existing styles */
.sidebarItem {
  border-radius: 5px;
  padding: 5px 15px;
  transition: all 0.2s ease-in-out;
  color: white;
}

.sidebarItem:hover {
  background-color: #e9e8e844;
  color: white !important;
  text-decoration: none;
}

.activeItem {
  background-color: #ffffff;
  color: #000 !important;
  font-weight: 600;
  border-left: 8px solid #0d6efd;
  padding-left: 11px;
  border-radius: 5px;
  padding: 5px 15px;
}

.hamburger {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 3000;
  padding: 6px 10px;
  border-radius: 6px;
}

/* ---- Responsive Sidebar Width ---- */
@media (max-width: 767px) {
  .sidebarWidth {
    width: 75% !important;
  }
}

@media (min-width: 768px) {
  .sidebarWidth {
    width: 180px !important;
  }
}
    
/* Fixed height + vertical scroll */
.scrollContainer {
  height: 100vh; /* full screen height */
  overflow-y: auto; /* scroll only vertically */
  overflow-x: hidden; /* avoid sideways scroll */
}
