.sidebarItem {
    border-radius: 5px;
    padding: 5px 15px;
    transition: all 0.2s ease-in-out;
    color: white;
}

.sidebarItem:hover {
    background-color: #e9e8e844;
    color:white !important;
    text-decoration: none;
}

.activeItem {
    background-color: #ffffff;
    color: #000 !important;
    font-weight: 600;
    border-left: 8px solid #0d6efd;
    padding-left: 11px;
     border-radius: 5px;
}